---
const is404Page = Astro.locals.starlightRoute.id === '404';
---

{!is404Page && (
  <Default>
    <div class="centered-title">
      <slot />
    </div>
  </Default>
)}

<style>
  .sl-page-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .centered-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
</style> 
