---
const { id } = Astro.props;
const is404Page = id === '404';
---

{!is404Page && (
  <h1 class="page-title">
    <slot />
  </h1>
)}

<style>
  .page-title {
    text-align: center !important;
    width: 100% !important;
    margin: 0 auto !important;
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-text);
  }
</style> 
